*{
    margin:0;
    padding:0;
}

body{
    background:#00001c url(bg.jpg) no-repeat top right;
    font-family:Gothan, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.container{
    width:400px;
    color:#fff;
    padding:20px;
    margin-left:50px;
}

h1{
    text-align:center;
    font-size:1.5em;
    margin-bottom:10px;
}

h1:hover{
    text-shadow:2px -1px 13px #bd44bd;
    color:#bd44bd;
}

p{
    margin:20px 0 0 0;
    font-size:0.8em;
    line-height:1.4em;
    color:#fff;
}

strong {
    color: #bd44bd;
}

span{
    text-decoration:underline;
    color:#cfc4ae;
}

span.especial{
    font-size:1.2em;
    color:yellow;
    text-decoration:none;
}

abbr ,acronym,dfn{
    font-weight:bold;
    font-size:1.1em;
}
abbr{
    color:#ffd800;
}
dfn {
    color: #ff006e;
}
acronym {
    color: #00ff21;
}
blockquote{
    color:#fff;
    font-size:0.8em;
    line-height:1.5em;
    padding:10px 0 0 0;
    margin-left:20px;
    font-style:italic;
}

.diferente{
    margin-left:40px;
    font-size:1em;
}

.pie{
    position:fixed;
    width:100%;
    height:20px;
    background:#cecbe9;
    bottom:0;

}