@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:#bbb5b5 url(tortuga.jpg) fixed center;
	background-size:cover;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	width:900px;
	margin:0 auto;
	background:#fff;
	padding-top:10px;
}

.clearboth{
	clear:both;
}

.linea{
	width:100%;
}

figure{
	width:32%;
	float:left;
	margin-bottom:10px;
	margin-left:1%;
}

figure img{
	width:100%;
	border-radius:15px;
}

figure img:hover{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

figcaption{
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

/*EFECTOS ESPECIALES Y FILTROS*/



.desenfoque{
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

.grises{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.grises:hover{
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}

.invertir{
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.sepia{
	filter: sepia(100%);
	-webkit-filter: sepia(100%);
}

.sepia:hover{
	filter: sepia(0%);
	-webkit-filter: sepia(0%);
}

.rotacion{
	filter: hue-rotate(45deg);
	-webkit-filter: hue-rotate(45deg);
}

.brillo{
	filter: brightness(200%);
	-webkit-filter: brightness(200%);
}

.contraste{
	filter: contrast(200%);
	-webkit-filter: contrast(200%);
}

.saturacion{
	filter: saturate(150%) hue-rotate(45deg) blur(1px);
	-webkit-filter:  saturate(150%) hue-rotate(45deg) blur(1px);
}































