@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Bangers);

*{
	margin:0;
	padding:0;
}

html{
	width:100%;
	height:100%;
}

body{
	background:rgba(0,176,215,1.00) url(../4_trucos_varios/fondo.png) no-repeat center fixed;
	background-size:cover;
}

#inicio{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

#inicio h1, .panel h1{
	font-family: 'Bangers', cursive;
	font-size:3em;
	color:#fff;
	text-align:center;
	width:100%;
	top:50px;
	text-shadow:2px 2px 3px #000;
	position:absolute;
}

img, .panel img{
	width:600px;
	position:absolute;
	top:130px;
	left:50%;
	margin-left:-300px;
	border:5px solid #fff;
	-moz-box-shadow: 1px 2px 13px #000000;
	-webkit-box-shadow: 1px 2px 13px #000000;
	box-shadow: 1px 2px 13px #000000;
}

a.next:link, a.next:visited, .panel a.next:link, .panel a.next:visited{
	font-size:40px;
	width:200px;
	display:block;
	text-align:center;
	position:absolute;
	top:590px;
	left:50%;
	margin-left:-100px;
	text-decoration:none;
	font-family: 'Bangers', cursive;
	color:yellow;
	text-shadow:2px 2px 3px #000;
}

a.next:hover, .panel a.next:hover{
	color:orange;
}

.panel{
	position:absolute;
	width:100%;
	height:0;
	overflow:hidden;
	transition:all 700ms ease-out;
}

.panel:target{
	height:100%;
}

#escena1{
	background:green url(../4_trucos_varios/fondo.png) no-repeat center fixed;
	background-size:cover;
}

#escena2{
	background:rgba(230,154,59,1.00) url(../4_trucos_varios/fondo.png) no-repeat center fixed;
	background-size:cover;
}

#escena3{
	background:rgba(240,238,146,1.00) url(../4_trucos_varios/fondo.png) no-repeat center fixed;
	background-size:cover;
}





